@model List<Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Personas</h1>

<p>
    <a asp-action="Crear">Crear Nuevo Paciente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Cedula</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@persona.Id">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@persona.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
